@mixin vertical-align-spread {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  display: none;  

  form {
    @include vertical-align-spread;
    font-size:1em;

    label { 
      color: grey;
    }

    textarea {
      height: 3em;
      background-color: #f4f1ec;
      border: none;
      border-bottom: 0.1em solid black;
      margin-bottom: 0.7em;
    }

    div {
      display: flex;
      justify-content: space-between;
      font-family: "Bungee", sans-serif; 

      button {
        background-color: #4056A1;
        color: #ffffff; 
      }
    }
  }

  .error {
    width: 70%;
    margin: 0.5em auto auto auto;
    padding: 0.5em;
    font-size: smaller;
    border: 0.1em solid red;
    color: red;
    display:none;
  }

  .error > img {
    display: block;
    margin: 0 auto 0 auto;
  }

  .error > div {
    margin-top: 0.5em;
    text-align: center;
  }
}


/*tablet style*/
@media only screen and (min-width: 768px)  {

  form {
    font-weight: 600;
  }  
}

/*desktop style*/
@media only screen and (min-width: 1024px)  {

  .new-tweet {
    margin-bottom: -2em;
    padding-top: 4em;

    
    form {
      font-size: larger;

      textarea {
        height: 2em;
      }
    }
    
    .error {
      font-size: larger;
    }  
  }
}
