@mixin flex-align {
  display: flex;
  align-items:center;
}

$single-tweet-padding: 1em 1em 0 1em;

#all-tweets {
  margin: 0.5em 0 1em 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
}

.single-tweet {
  padding:$single-tweet-padding;
  border: 0.1em solid black;
  margin-top:1.5em;
  width: 90%;

  &:hover { 
    box-shadow: 0.8em 0.8em 0.5em #C1C1DB;

    footer > section > img {
      display: block;
    }
  }
  
  header{
  height: 3em;
  @include flex-align;
  justify-content: space-between;

    .tweet-profile {
      @include flex-align;
    
      img  {
        width: 3em;
        margin-right: 1em;
      } 
    }

    .user-handle {
      color: #a7a7b8;
      margin-right: 1em;
    }
  }

  p {
  padding-bottom: 1em;
  border-bottom: 0.1em solid black;
  }
}


footer {
  height: 2em;
  padding: 0 0.5em 1.5em 0.5em;
  @include flex-align;
  justify-content: space-between;

  span{
    font-size: smaller;
  }

  section {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 1em;
      filter: invert(37%) sepia(20%) saturate(1725%) hue-rotate(189deg) brightness(84%) contrast(90%);
      display: none;
    }
  }
}


/*tablet style*/
@media only screen and (min-width: 768px)  {
  #all-tweets{
    font-size: larger;
  } 
}

/*desktop style*/
@media only screen and (min-width: 1024px)  {

  #all-tweets {
    margin-top: 3em;
    @include flex-align;
    flex-direction: column; 

    .single-tweet {
      padding:$single-tweet-padding;
      border: 0.1em solid black;
      margin-top:1.5em;
      width: 90%;
    } 
  } 
}