body > header {
  background-color: #e69f93;;
  background-image: url("/images/arches.png");
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile > img {
  padding-top: 20px;
}

.profile > h2 {
  margin-top: 10px;
}


