nav {
  height: 120px;
  color: #ffffff;
  background-color: #4056A1;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;

}

nav > span#logo {
  font-family: 'Bungee', sans-serif; 
}


nav > span {
  padding: 1.5em;
}