#all-tweets {
  margin: 50px 0 50px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.single-tweet {
  padding:25px;
  border:3px solid black;
  margin-top:25px;
  width: 90%;
}
.single-tweet:hover { 
  box-shadow: 15px 15px 5px #C1C1DB;
}
.single-tweet:hover .user-handle {
  display: block;
  color: #C1C1DB;
}

.single-tweet > header, footer{
  height: 100px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.single-tweet > p {
  padding-bottom: 25px;
  border-bottom: 3px solid black;
}
.tweet-profile {
  display: flex;
  flex-direction: row;
  align-items:center;
}
.tweet-profile img  {
  width: 80px;
  margin-right: 10px;
}

.user-handle {
  display: none;
  margin-right: 20px;
}

footer {
  height: 50px;
  padding: 0 15px 15px 15px;
}
footer > span{
  font-size: smaller;
}

footer > section > img {
  width: 30px;
  filter: invert(37%) sepia(20%) saturate(1725%) hue-rotate(189deg) brightness(84%) contrast(90%);
}
